.placeButton {
  width: 30px;
  margin : 5px;
  margin-left:10px;
  background-color: greenyellow;
}

.placeButton2 {
  width: 30px;
  margin : 5px;
  margin-left:10px;
	background-color: yellow;
}

.blackButton{
	background-color: black;
	width: 30px;
  	margin : 5px;
  	margin-left:10px;
	color:white;
}
.korzina{
	#background-color: red;
    border: 2px inset black;
	width:300px;
	display: block;
	height: 500px;
}
body{
    color:white;
	margin:15px;
	width:1000px;
	height:600px;
	background-image: url(img/test.jpg);
    background-size: cover;
}
.one_td{
	padding-right:200px;
	font-size: 17px;
}

.zal{
    border: 2px inset black;
	#background-color:blue;
	width:"300px";
	
}
.name_mest{
	color: white;
	text-align : center;
    font-weight: bold;
}

.image_center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.second_td{
	
	padding-left:70px;
}

.second_td2{
	
	padding-left:70px;
}

.ryad_td{
	padding-left:20px;
}

.summ_td{
	padding-left:10px;
}

.summa_td{
	float:bottom;
}

.buy{
    margin:15px;
    width:150px;
    height:40px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.buy_false{
    margin:15px;
    width:150px;
    height:40px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.bron{
    margin:15px;
    width:150px;
    height:40px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.bron_false{
    margin:15px;
    width:150px;
    height:40px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.cancel{
    margin:15px;
    width:150px;
    height:40px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.img_film{
	border: 2px inset yellow;
}

.cssload-container{
	display: block;
    position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	margin:144px auto;
	width:288px;
}

.cssload-loading{
	width: 58px;
	height: 58px;
	margin: auto;
	text-align: left;
	transform-origin:center;
		-o-transform-origin:center;
		-ms-transform-origin:center;
		-webkit-transform-origin:center;
		-moz-transform-origin:center;
	animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-o-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-ms-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-moz-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before,
.cssload-loading i:after{
	content: "";
	position:absolute;
	width: 58px;
	height: 58px;
	display: inline-block;
	border-radius: 50%;
}
.cssload-loading i:before{
	transform:translate(0,-58px) scale(0.75);
		-o-transform:translate(0,-58px) scale(0.75);
		-ms-transform:translate(0,-58px) scale(0.75);
		-webkit-transform:translate(0,-58px) scale(0.75);
		-moz-transform:translate(0,-58px) scale(0.75);

}
.cssload-loading i:after{
	transform:translate(0,-101px) scale(0.5);
		-o-transform:translate(0,-101px) scale(0.5);
		-ms-transform:translate(0,-101px) scale(0.5);
		-webkit-transform:translate(0,-101px) scale(0.5);
		-moz-transform:translate(0,-101px) scale(0.5);
}
.cssload-loading i:nth-child(1){
	transform:translate(0,144px);
		-o-transform:translate(0,144px);
		-ms-transform:translate(0,144px);
		-webkit-transform:translate(0,144px);
		-moz-transform:translate(0,144px);
}
.cssload-loading i:nth-child(1),
.cssload-loading i:nth-child(1):before,
.cssload-loading i:nth-child(1):after{
	background: rgb(255,179,100);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(2):before,
.cssload-loading i:nth-child(2):after{
	background: rgb(0,168,146);
}
.cssload-loading i:nth-child(2){
	transform:rotate(90deg) translate(0,144px);
		-o-transform:rotate(90deg) translate(0,144px);
		-ms-transform:rotate(90deg) translate(0,144px);
		-webkit-transform:rotate(90deg) translate(0,144px);
		-moz-transform:rotate(90deg) translate(0,144px);
}
.cssload-loading i:nth-child(3),
.cssload-loading i:nth-child(3):before,
.cssload-loading i:nth-child(3):after{
	background: rgb(31,76,89);
}
.cssload-loading i:nth-child(3){
	transform:rotate(180deg) translate(0,144px);
		-o-transform:rotate(180deg) translate(0,144px);
		-ms-transform:rotate(180deg) translate(0,144px);
		-webkit-transform:rotate(180deg) translate(0,144px);
		-moz-transform:rotate(180deg) translate(0,144px);
}
.cssload-loading i:nth-child(4),
.cssload-loading i:nth-child(4):before,
.cssload-loading i:nth-child(4):after{
	background: rgb(255,89,84);
}
.cssload-loading i:nth-child(4){
	transform:rotate(270deg) translate(0,144px);
		-o-transform:rotate(270deg) translate(0,144px);
		-ms-transform:rotate(270deg) translate(0,144px);
		-webkit-transform:rotate(270deg) translate(0,144px);
		-moz-transform:rotate(270deg) translate(0,144px);
}


@keyframes cssload-loading-ani1{
	80%,100%{
		transform:rotate(360deg);
	}
}

@-o-keyframes cssload-loading-ani1{
	80%,100%{
		-o-transform:rotate(360deg);
	}
}

@-ms-keyframes cssload-loading-ani1{
	80%,100%{
		-ms-transform:rotate(360deg);
	}
}

@-webkit-keyframes cssload-loading-ani1{
	80%,100%{
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes cssload-loading-ani1{
	80%,100%{
		-moz-transform:rotate(360deg);
	}
}
