.backhome {
	height: 80px;
	width: 80px;
	border: 3px solid #fff;
	background: #FF6F32;
	color: #fff;
	text-align: center;
	outline: none;
	border-radius: 100%;
}

.backhome:hover {
	background: #FF621E;
}

.fa-arrow-left {
	padding-right: 5px;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.backend {
	position:fixed;
 	top:0; 
 	bottom:0; 
 	left:0; 
 	right:0; 
	background-image: url(img/6.png);
	background-size: 100%;
	min-height: 3000px;
	min-width: 1300px;
}  

.cont_one {
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
}  

.back {
	position:relative;
	min-height: 450px;
	width: 315px;
	background: #fff;
	border-radius: 8px;
	margin-left: 0px;
	margin-top: 0px;
	margin: 150px auto;
}

.zag {
	padding-top: 15px;
	text-align: center;
	font-size: 30px;
	font-family: "Century gothic", sans-serif;
	font-weight: 100;
	color: #626262;
}

p {
	text-align: center;
}

.butt1 {
	margin-top: 20px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #3B5998;
	border: none;
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

.butt2 {
	margin-top: 3px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #DD4B39;
	border: none;
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

.or {
	font-size: 17px;
	padding-top: 10px;
	font-style: italic;
	color: #A6A6A6;
}

.inp1 {
	margin-top: 5px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #454545;
	font-family: "Helvetica", sans-serif;
	padding-left: 20px;
	outline: none;
}
.inp2 {
	margin-top: 0px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #454545;
	font-family: "Helvetica", sans-serif;
	padding-left: 20px;
	outline: none;
}

.butt3 {
	margin-top: 3px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #99C432;
	border: none;
	color: #fff;
	font-family: "Helvetica", sans-serif;
}
.butt33 {
	margin-top: 3px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	background-color: #EBA84A;
	border: none;
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

.butt3:hover {
	background-color: #A5D92B;
}
.butt33:hover {
	background-color: #FFB650;
}
.butt2:hover {
	background-color: #EE503D;
}
.butt1:hover {
	background-color: #4562A1;
}


a {
	color: #919191;
}

a:hover {
	color: #454545;
}

.ahref {
	padding-top: 10px;
}

.fa-google-plus {
	font-size: 21px;
	float: left;
	padding-left: 10px;
}

.fa-facebook {
	color: #fff;
	font-size: 21px;
	float: left;
	padding-left: 10px;
}