{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}
{% block title %} Кинотеатр | афиша {% endblock %}
{% block template %}	<link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %}
{% block navbar %}
<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="sp1 link"><a href="/">АФИША</a></li>
				<li class="sp1"><a href="/soon">СКОРО В ПРОКАТЕ</a></li>
				<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
				<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
				<li class="sp1"><a href="/mykino">О КИНОТЕАТРЕ</a></li>
				<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
				{% if user.is_authenticated %}
				    <li class="sp2"><a href="/kabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
                {% else %}
                    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		Ищите фильмы по дням недели:
		</p>
		<div class="buttons">
            {% if weekday == 1 %}
			    <button class="button_active"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 2 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button_active"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 3 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button_active"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 4 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button_active"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 5 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button_active"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 6 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button_active"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 7 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button_active"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>

            {% endif %}
		</div>

        <h4>
            Киноафиша на {{ for_date }}
		</h4>
            {% for seans in seanss %}
                <br>
			<div class="one">
				<img src="{{ seans.film.image.url }}" width="260" height="525">

			</div>
			<div class="two">
				<h3>{{ seans.film.name }}</h3>
				<p class="two_p_one">{{ seans.film.secondname }}</p>
				<p class="two_p_two">Cеансы:<span class="time"> <a href="/film/{{ seans.film.url_name }}/">расписание</a></span></p>
				<p class="two_p_three">
					{{ seans.film.opisanie }}
				</p>
				<ul class="two_ul_two">
					<li class="two_li"><b>В прокате:</b> с {{ seans.film.prokat|date:"d M" }}</li>
					<li class="two_li"><b>Формат:</b> {{ seans.film.format }}</li>
					<li class="two_li"><b>Длительность:</b> {{ seans.film.dlitelnost }}</li>
					<li class="two_li"><b>Жанр:</b> {% for zhanr in seans.film.zhanr.all %} {{ zhanr }}, {% endfor %}</li>
					<li class="two_li"><b>Производство:</b> {{ seans.film.year }}, {{ seans.film.proizvodstvo }}</li>
					<li class="two_li"><b>Режисер:</b> {{ seans.film.rezhiser }}</li>
					<li class="two_li"><b>Актеры:</b> {{ seans.film.actors }}</li>
				</ul>
			</div>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico1.png' %}"><a href="/film/{{ seans.film.url_name }}/"> Расписание сеансов и цены</a></li>
					<li class="three_li"><img src="{% static 'img/ico2.png' %}"><a href="/treler/{{ seans.film.url_name }}/"> Смотреть трейлер</a></li>
					<li class="three_li"><img src="{% static 'img/ico3.png' %}"><a href="/otziv/{{ seans.film.url_name }}/"> Напишите отзыв о фильме</a></li>
				</ul>
			</div>
			<br>
        {% endfor %}
        {% if net_seansov %}
            <br>
            <img class="closed_img" src="{% static 'img/closed.png' %}">
            <div class="closed_text">
                Извините, но на данный день сеансы не запланированы.
                <br>
                Приходите позже, возможно добавятся новые интересные сеансы.
            </div>

        {% else %}
			<div class="pagination">
		        <div class="pagination pagination-centered">
			<ul>
                {% for page in seanss.paginator.page_range %}
                    {% if page == seanss.number %}
                        <li class="current"><a href="/{{ date_url }}/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/{{ date_url }}/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endif %}
	</div>

{% endblock %}